@import "@/theme/styles.scss";

.videoPromo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;

  @include tablet-up {
    padding: 40px 0;
  }
}

.videoContainer {
  max-width: 1440px;
  position: relative;
  width: 100%;

  @include tablet-up {
    padding: 24px;
  }
}

.overlay {
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.video {
  aspect-ratio: 16 / 9;
  border: none;
  display: block;
  width: 100%;
}
