@import "@/theme/styles.scss";

.productLogo {
  border: 0.658px solid $white-10;
  border-radius: $radius-medium;
  box-shadow: 0px 2.633px 6.583px 0px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  height: 119px;
  overflow: hidden;
  position: relative;
  width: 131px;
}

.image {
  object-fit: cover;
}
