@import "@/theme/styles.scss";

.intro {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  justify-content: flex-start;
}

.headline {
  @include text-h2;
  @include text-gradient($gradient-text-peach-blue);
  margin: 0;
}

.subheadline {
  @include text-body;
  @include text-gradient($gradient-text-peach-blue);
  margin: 0;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100%;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 24px;
}
