@import "@/theme/styles.scss";

.heroTitle {
  @include text-h1;
  @include text-gradient($gradient-text-peach-blue);
  padding: 64px 0 0 0;
  margin: 0;

  @include tablet-up {
    padding: 48px 0;
  }
}

.subTitle {
  @include text-gradient($gradient-text-peach-blue);
  @include text-h3;
  margin: 0;
}

.greenGradient {
  @include text-gradient($gradient-text-blue-green);
}

.cellContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;

  @include tablet-up {
    gap: 40px;
  }
}
