@import "@/theme/styles.scss";

.clients {
  background-color: $background;
  width: 100%;
}

.headline {
  @include text-h2;
  @include text-gradient($gradient-text-peach-blue);
  padding-top: 48px;

  @include desktop-up {
    padding-top: 80px;
  }
}

.logo {
  height: 100%;
  object-fit: contain;
  width: auto;
}

.logoGrid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 32px;
  padding-bottom: 64px;
  padding-top: 32px;

  @include tablet-up {
    gap: 69px 68px;
  }

  @include desktop-up {
    padding-bottom: 112px;
  }
}

.logoLink {
  display: block;
  height: 28px;
  transition: opacity 0.2s ease;

  @include tablet-up {
    height: 40px;
  }

  &:hover {
    opacity: 0.7;
  }
}
