$divider-color: rgba(255, 255, 255, 0.33);
$background: #000000;
$text-color: #ffffff;

// Figma Imported Colors
$white: #ffffff;
$white-10: rgba(255, 255, 255, 0.1);
$white-33: rgba(255, 255, 255, 0.33);
$peach: #ffe3d6;

// Figma Imported Gradients
$gradient-text-peach-blue: linear-gradient(104.086deg, rgb(255, 227, 214) 1.6781%, rgb(188, 208, 246) 98.425%);
$gradient-text-green-pink: linear-gradient(101.404deg, rgb(206, 225, 164) 1.6781%, rgb(242, 186, 195) 98.425%);
$gradient-text-purple-peach: linear-gradient(101.404deg, rgb(219, 178, 240) 1.6781%, rgb(235, 187, 152) 98.425%);
$gradient-text-blue-green: linear-gradient(100.78deg, rgb(183, 213, 238) 1.6781%, rgb(182, 238, 178) 98.425%);
$gradient-bg-dark: linear-gradient(131.173deg, rgb(17, 17, 17) 0.94669%, rgb(29, 29, 29) 103.8%);
$gradient-button-reverse: linear-gradient(114.489deg, rgb(26, 28, 20) 1.6781%, rgb(46, 58, 81) 98.425%);
$gradient-section-divider: linear-gradient(95deg, #B7D5EE 1.68%, #B6EEB2 98.43%);