@import "../theme/typography.scss";
@import "../theme/colors.scss";

@include global-typography;

:root {
  --background: #{$background};
  --foreground: #{$text-color};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$background};
    --foreground: #{$text-color};
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  // Font family handled by typography.scss
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
