@import "@/theme/styles.scss";

.sectionDivider {
  padding-bottom: 48px;
  padding-top: 48px;
  width: 100%;

  @include tablet-up {
    padding-bottom: 64px;
    padding-top: 64px;
  }
}

.line {
  background: $gradient-section-divider;
  height: 1px;
  width: 100%;
}
